<head>
  <!-- Load CSS -->
  <link href="../css/style.css" rel="stylesheet" type="text/css" />
  <!-- Load Icon Font -->
  <link href="../css/webfont.css" rel="stylesheet" type="text/css" />
  <!-- Load jQuery library -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <!-- Load jCarousel js -->
  <script type="text/javascript" src="../js/jquery.jcarousel.js"></script>
  <!-- Load MixItUup js -->
  <script type="text/javascript" src="../js/jquery.mixitup.js"></script>
  <!-- Load js -->
  <script type="text/javascript" src="../js/custom.js"></script>

  <title> Creating your fragment... </title>
</head>

<body>
  Name:<br>
  <%= name %><br>
  Source:<br>
  <%= source %><br>

  <br>
  <br>
  <br>

  <% for i in source.split("\n") %>
    <%= i %><br>
  <% end %>

  <% f = Fragment.new name, source %>
  <% f.create %>

  <%= "<a href=\"http://localhost:4567/view/#{f.id}\">link text</a>" %>

</body>
