
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="lib/p5min.js"></script>
    <script type="text/javascript" src="SpaceInvaders.js"></script>
    <script type="text/javascript" src="Saucer.js"></script>
    <script type="text/javascript" src="Lazer.js"></script>
    <body bgcolor="#333333">
  </head>


  <body>
    <center>
      <br><br><br><br><br><br><br><br><br>
      <div id="sketch-holder">
        <!-- Our sketch will go here! -->
      </div>
    </center>
  </body>

</html>
