<head>
  <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <!-- Load CSS -->
  <link href="../css/style.css" rel="stylesheet" type="text/css" />
  <!-- Load Icon Font -->
  <link href="../css/webfont.css" rel="stylesheet" type="text/css" />
  <!-- Load jQuery library -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <!-- Load jCarousel js -->
  <script type="text/javascript" src="../js/jquery.jcarousel.js"></script>
  <!-- Load MixItUup js -->
  <script type="text/javascript" src="../js/jquery.mixitup.js"></script>
  <!-- Load js -->
  <script type="text/javascript" src="../js/custom.js"></script>

  <%f = Fragment.get id%>

  <% if f != nil and source != nil and name != nil %>
  <title><%=f.name%></title>

  <% f.source = source %>
  <% f.name = f.name %>
  <% f.update %>

</head>


  <%= erb :view, :locals => {:id => id} %>



  <% else %>

  <title>Opss</title>

</head>

  <% end %>
