
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="lib/p5min.js"></script>
    <script type="text/javascript" src="SpaceInvaders.js"></script>
    <script type="text/javascript" src="Saucer.js"></script>
    <script type="text/javascript" src="Lazer.js"></script>

  </head>


  <body>
    <center>
      
      <div id="sketch-holder">
        <!-- Our sketch will go here! -->
      </div>
    </center>
  </body>

</html>
